/.idea/
/.pentaho/
/.settings/
/.vscode/
/bin/
/node_modules/
/target/
/tmp/

/.classpath
/.metadata
/.project

/dependency-reduced-pom.xml
/project.properties

*.DS_Store
*.bak
*.class
*.jar
*.launch
*.log
*.tar.gz
*.tgz
*.tmp
*.zip
